span.mat-button-wrapper {
    color: gray;
}

span.mat-raised-button {
    color: yellow;
}

span.mat-button-base{
    color: lightblue;
}

span.event-date-container {
    display: none;
}

div.event-date-container {
    display: none;
}

.event-date-container {
    display: none;
}


h1.event-name {
    display: none;
}

.banner-image.ng-star-inserted {
    width: 31%;
    height: 45%;
    position: relative;
    padding-left: 20%;
    padding-right: 4%;
}

.event-start-end-date {
    display: none;
}
