span.mat-button-wrapper {
    color: pink;
}

div.event-date-container {
    display: none;
}

div.banner-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    -o-object-fit: cover;
    object-fit: contain;
}

h1.event-name {
    display: none;
}


